rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isMember() {
      return request.auth != null &&
        request.auth.uid in
          get(/databases/$(database)/documents/households/main).data.memberUids;
    }

    match /households/main {
      allow read: if isMember();
      allow write: if false;
    }

    match /households/main/{collection}/{docId} {
      allow read, write: if isMember();
    }
  }
}
